# See https://github.com/github/gitignore/blob/main/Python.gitignore and Node.gitignore for full reference
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
ENV/
.pytest_cache/
#.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/
.history

# macOS
.DS_Store

# Others
.env
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
.idea/
coverage/
.windsurfrules
test.db
backend/test.db
.git_commit_msg_tmp

# Playwright
**/playwright-report/
**/test-results/

# Ignore secrets
.env.local
.env.production
.env.development
.env.test
# .env.example
test-results/.last-run.json
registerUser-debug-*
