__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.*
*.log
*.coverage
.coverage*
htmlcov/
.mypy_cache/
.pytest_cache/
.git
.gitignore
/tests
.vscode
.idea
.DS_Store

# Ignore generic secret and key files
secrets.*
*.key
*.pem
